/* global */
.body {
  background-color: #000000;
  opacity: 1;
  font-family: "lota";
  font-size: 30px;
  margin: 0;
  color: #fcba03;
}

/* header */
.header {
  position: relative;
  height: 100px;
  background-color: red;
}
.logo-makemake {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.breadcrumb {
  display: none;
  font-weight: 400;
}
.logo-rps {
  display: none;
}
.hamburger {
  display: none;
}

/* list of editors */
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  padding: 0 30px;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 10px;
}

/* brakepoints */
@media (max-width: 750px) {
  .columns {
    display: block;
    text-align: center;
  }
  .column {
    display: block;
  }
}
