@font-face {
  font-family: myfont;
  src: url("fonts/lotagrotesquealt1-regular-webfont.woff");
}
/* global */
.body {
  background-color: #000000;
  opacity: 1;
  font-family: myfont;
  font-size: 30px;
  margin: 0;
  color: #fcba03;
}

/* header */
.header {
  position: relative;
  height: 100px;
  background-color: red;
}
.logo-makemake {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.breadcrumb {
  display: none;
}
.logo-rps {
  display: none;
}
.hamburger {
  display: none;
}
.background-html {
  background-color: rgb(0, 0, 0);
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
}
.item {
  flex: 0 1 auto;
  align-self: flex-start;
  color: #fcba03;
}
